/* button style */
.styleBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    height: 2.3rem;
    width: 5.5rem;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    background: none;
    cursor: pointer;
    box-shadow: inset 0px 3px 5px rgb(237, 236, 236);
}
.styleBtn:active{
    box-shadow: inset 0px 6px 7px rgb(174, 170, 170);
}